#movie-area {
    padding-right:0px;
}

video {
    width: 100%;
}

#finished-button {
    margin-top:5px;
    margin-right:10px;
    float:right;
}

#no-marker-message {
    color: green;
    font-style: italic;
    font-weight: bold;
}


#markers li.message {
    color: green;
    font-style: italic;
    font-weight: bold;
}

#markers li.message:hover {
    background: #eee;
    cursor: pointer;
}

#help-pic {
    max-width: 100%;
}

#timer {
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 0 10px 0;
}

#chat-area {
    border-left: 1px solid #aaa;
    height:100%;
    right: 0px;
    padding: 0px;
    margin: 0px;
}

#chat-form {
    background: #ddd;
    padding: 8px;
    width: 100%;
    height: 60px;
    margin: 0px;
    position: absolute;
    bottom: 0;
}

#chat-message-box {
    border: 0;
    padding: 10px;
    width: 78%;
    margin-right: 5px;
}

#chat-send-button {
    margin-bottom: 4px;
    width: 20%;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 44px;
    max-height: calc(100% - 60px);
    overflow: auto;
}

#messages li {
    padding: 5px 10px;
    max-width:100%;
    word-wrap:break-word;
}

#messages li.self-message {
    background: #fff;
}

#messages li.system-message {
    font-style: italic;
    font-weight: bold;
}

#messages li.signal-message {
    color: green;
    font-style: italic;
    font-weight: bold;
}

#messages li.signal-message:hover {
    background: #eee;
    cursor: pointer;
}

.control-buttons {
    margin-top:5px;
    margin-bottom:5px;
}
