#movie-area {
    width:100%;
}

#movie {
    display:block;
    width: 1000px;
    margin: auto;
    margin-top:50px;
    margin-bottom:20px;
}

#finished-button {
    display:block;
    margin: auto;
}
